
<style>
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
</style>
<div class="py-5 team4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <h3 class="mb-3"><strong>Đôi lời giới thiệu về team chúng tôi.</strong></h3>
                
                <h5 class="mb-4">Chúng tôi gồm 4 người tất cả đều là sinh viên của Đại Học FPT Đà Nẵng</h5>
            </div>
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/tuan.jpg" alt="wrapkit" class="img-fluid rounded-circle" style="width:100%;height:244px;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0" style="color: #054a84;"><a href="https://www.facebook.com/qtuan.it"><strong>Trần Quốc Tuấn</strong></a></h5>
                            <h6 class="subtitle mb-3" style="color:black">Leader</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/thach.jpg" alt="wrapkit" class="img-fluid rounded-circle" style="width:100%;height:244px;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0" style="color: #054a84;"><a href="https://www.facebook.com/thach.hoang.18007"><strong>Hoàng Ngọc Thạch</strong></a></h5>
                            <h6 class="subtitle mb-3" style="color:black">Developer</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/anh.jpg" alt="wrapkit" class="img-fluid rounded-circle" style="width:100%;height:244px;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0" style="color: #054a84;">
                                <a href="https://www.facebook.com/toadwfrog"><strong>Nguyễn Văn Hùng Anh</strong></a>
                            </h5>
                            <h6 class="subtitle mb-3"style="color:black">Developer</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/phuong.jpg" alt="wrapkit" class="img-fluid rounded-circle" style="width:100%;height:244px;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0" style="color: #054a84;"><a href="https://www.facebook.com/ShopAccDP"><strong>Hồ Duy Phương</strong></a></h5>
                            <h6 class="subtitle mb-3" style="color:black">Developer</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
    </div>
</div>