@{
    ViewData["Title"] = "Home Page";
}


<section _ngcontent-serverapp-c88="" class="hp-achievement" style="background-color: #f5f5f5;padding: 50px 0;overflow: hidden;">
    <div _ngcontent-serverapp-c88="" class="container">
        <div _ngcontent-serverapp-c88="" class="row">
            <div _ngcontent-serverapp-c88="" class="col-lg-2 col-md-4 col-sm-6 res-customer-logo ng-star-inserted">
                <div _ngcontent-serverapp-c88="" class="customer-logo" style="text-align: center;height: 60px;display: flex;justify-content: center;align-items: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" class="img-fluid" alt="Domestic Helper International labour organization" src="https://cdn.helperplace.com/misc/brand/internation-labour-organization.png" style="max-height: 40px;filter: grayscale(100%);transition: .2s;">
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-lg-2 col-md-4 col-sm-6 res-customer-logo ng-star-inserted">
                <div _ngcontent-serverapp-c88="" class="customer-logo" style="text-align: center;height: 60px;display: flex;justify-content: center;align-items: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" class="img-fluid" alt="Domestic Helper Reuters" src="https://cdn.helperplace.com/misc/brand/Reuters.png" style="max-height: 40px;filter: grayscale(100%);transition: .2s;">
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-lg-2 col-md-4 col-sm-6 res-customer-logo ng-star-inserted">
                <div _ngcontent-serverapp-c88="" class="customer-logo" style="text-align: center;height: 60px;display: flex;justify-content: center;align-items: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" class="img-fluid" alt="Domestic Helper Mobile App" src="https://cdn.helperplace.com/misc/brand/google-play.png" style="max-height: 40px;filter: grayscale(100%);transition: .2s;">
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-lg-2 col-md-4 col-sm-6 res-customer-logo ng-star-inserted">
                <div _ngcontent-serverapp-c88="" class="customer-logo" style="text-align: center;height: 60px;display: flex;justify-content: center;align-items: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" class="img-fluid" alt="Domestic Helper GMA" src="https://cdn.helperplace.com/misc/brand/GMA.png" style="max-height: 40px;filter: grayscale(100%);transition: .2s;">
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-lg-2 col-md-4 col-sm-6 res-customer-logo ng-star-inserted">
                <div _ngcontent-serverapp-c88="" class="customer-logo" style="text-align: center;height: 60px;display: flex;justify-content: center;align-items: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" class="img-fluid" alt="Domestic Helper Tech in Asia" src="https://cdn.helperplace.com/misc/brand/tech-in-asia.png" style="max-height: 40px;filter: grayscale(100%);transition: .2s;">
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-lg-2 col-md-4 col-sm-6 res-customer-logo ng-star-inserted">
                <div _ngcontent-serverapp-c88="" class="customer-logo" style="text-align: center;height: 60px;display: flex;justify-content: center;align-items: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" class="img-fluid" alt="Domestic Helper CNA" src="https://cdn.helperplace.com/misc/brand/CNA.png" style="max-height: 40px;filter: grayscale(100%);transition: .2s;">
                </div>
            </div><!---->
            <div _ngcontent-serverapp-c88="" class="col-lg-12 col-md-12 col-sm-12">
                <div _ngcontent-serverapp-c88="" class="our-achievement-section" style="display: flex;flex-direction: column;align-items: center;padding-top: 40px;">
                    <div _ngcontent-serverapp-c88="" class="title2">
                        <div _ngcontent-serverapp-c88="" class="sub-title our-achievement-title" style="display: flex;align-items: center;">
                            <div _ngcontent-serverapp-c88="" class="hp-logo-candidate">
                                <img _ngcontent-serverapp-c88="" loading="lazy" alt="helper place customer satisfaction" class="achieve-winner" src="https://cdn.helperplace.com/web-asset/images/home-star.png" style="height: 70px;">
                            </div>
                            <div _ngcontent-serverapp-c88="" class="achievement-data-wrapper" style="display: flex;flex-wrap: wrap;justify-content: center;flex-direction: column;">
                                <div _ngcontent-serverapp-c88="" class="dark h2 hp-achieve-content" style="display: flex;flex-wrap: wrap;justify-content: center;font-size: calc(16px + (16 - 10) * ((100vw - 300px) / (1920 - 300)))!important;flex-direction: column;">
                                    <div _ngcontent-serverapp-c88="" class="hp-achieve-customer" style="color: #25ae88;padding-bottom: 10px;font-size: 24px;">
                                        <span _ngcontent-serverapp-c88="" class="number">4.8/5</span> Customer Satisfaction
                                    </div><div _ngcontent-serverapp-c88="" class="hp-achieve-users" style="font-size: 24px;color: #054a84;text-align: center;">
                                        <span _ngcontent-serverapp-c88="" class="number">260,000+</span> Users
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section _ngcontent-serverapp-c88="" class="our-community app2 my-5 format">
    <div _ngcontent-serverapp-c88="" class="container">
        <div _ngcontent-serverapp-c88="" class="row">
            <div _ngcontent-serverapp-c88="" class="col-md-5 col-sm-12">
                <div _ngcontent-serverapp-c88="" class="mobile-sc">
                    <img _ngcontent-serverapp-c88=""
                         alt="Tuyển người giúp việc, người giúp việc &amp; tài xế đáng tin cậy" loading="lazy"
                         class="img-fluid mobile1 ng-star-inserted"
                         src="https://cdn.helperplace.com/web-asset/img/ss3.png"><!----><!----><!---->
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-md-7 col-sm-12 our-community-content" style="display: flex;flex-direction: column;align-items: flex-start;justify-content: center;">
                <div _ngcontent-serverapp-c88="">
                    <div _ngcontent-serverapp-c88="" class="format-small-text" style="padding-bottom: 15px;">
                        <div _ngcontent-serverapp-c88=""
                             class="borders-before ar-borders-before ar text-uppercase pt-1">
                            <span _ngcontent-serverapp-c88="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">cộng đồng của chúng tôi</font>
                                </font>
                            </span>
                        </div>
                    </div>
                    <div _ngcontent-serverapp-c88="" class="title2 ar">
                        <div _ngcontent-serverapp-c88="" class="sub-title">
                            <h2 _ngcontent-serverapp-c88="" class="section-header text-capitalize text-left ar">
                                <span _ngcontent-serverapp-c88="" class="ng-star-inserted">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Nền tảng trực tuyến phù hợp với Người trợ
                                            giúp và Nhà tuyển dụng
                                        </font>
                                    </font>
                                </span><!----><!----><!---->
                            </h2>
                        </div>
                    </div>
                    <div _ngcontent-serverapp-c88="" class="format-sub-text ar ng-star-inserted" style="margin-bottom: 35px;">
                        <p _ngcontent-serverapp-c88="" style="font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;letter-spacing: normal;margin-bottom: -3px;color: #949494;vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Bạn có muốn sử dụng một </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">nền tảng đạo đức và minh bạch</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    để kết nối gia đình mình với các ứng viên hoặc
                                    nhà tuyển dụng tiềm năng không?
                                </font>
                                <font style="vertical-align: inherit;">
                                    Bạn đang nhanh chóng tìm kiếm Người giúp việc gia
                                    đình, người giúp việc hoặc Tài xế?
                                </font>
                            </font><br>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    HelperPlace là cách tốt nhất để đáp ứng mong đợi
                                    của bạn với những ứng viên phù hợp hoặc với bất kỳ người giúp việc gia đình nước
                                    ngoài nào.
                                </font>
                                <font style="vertical-align: inherit;">
                                    Đăng lời mời làm việc của bạn và dễ dàng tiếp cận
                                    với tất cả các ứng viên của chúng tôi.
                                </font>
                                <font style="vertical-align: inherit;">Giải pháp của chúng tôi là </font>
                            </font><b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        miễn phí cho các ứng viên và chúng tôi không
                                        có bất kỳ khoản phí ẩn nào.
                                    </font>
                                </font>
                            </b>
                        </p>
                    </div><!----><!----><!---->
                    <div _ngcontent-serverapp-c88="" class="community-btn ar">
                        <a _ngcontent-serverapp-c88="" type="text"
                           class="btn btn-primary btn-green"
                           style="max-width: 200px;border: 2px solid #25ae88;background: #25ae88;color: #fff;margin-right: 20px;box-shadow: none;border-radius: 6px;max-width: 200px;padding: 10px 20px!important;font-weight: 600;text-transform: capitalize;"
                           href="/find-candidate">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Tìm ứng viên</font>
                            </font>
                        </a><a _ngcontent-serverapp-c88="" type="text" class="btn btn-secondary btn-yellow"
                               style="max-width: 200px;border: 2px solid #ebba16;background: #ebba16;color: #fff;box-shadow: none;border-radius: 6px;max-width: 200px;padding: 10px 20px!important;font-weight: 600;text-transform: capitalize;"
                               href="/find-job">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Có một công việc</font>
                            </font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section _ngcontent-serverapp-c88="" class="powerful-feature team ng-star-inserted" style="background-color: #f1f1f1;padding: 50px 0;">
    <div _ngcontent-serverapp-c88="" class="container">
        <div _ngcontent-serverapp-c88="" class="row">
            <div _ngcontent-serverapp-c88="" class="col-lg-12 col-md-12 col-sm-12">
                <div _ngcontent-serverapp-c88="" class="title title2 powerful-feature-header" style="text-align: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" alt="HelperĐặt Logo" class="img-fluid title-img" src="https://cdn.helperplace.com/web-asset/images/Just_logo.png" style="height: 50px;">
                    <div _ngcontent-serverapp-c88="" class="borders main-text">
                        <span _ngcontent-serverapp-c88="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">TÍNH NĂNG</font>
                            </font>
                        </span>
                    </div>
                    <div _ngcontent-serverapp-c88="" class="title title2">
                        <div _ngcontent-serverapp-c88="" class="sub-title">
                            <h2 _ngcontent-serverapp-c88="" class="section-header text-capitalize text-center">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Tìm kiếm và chọn lọc</font>
                                </font>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="background: #fff;border-radius: 10px;box-shadow: 0 0 20px rgba(0,0,0,.14);border: 1px solid #fff;transition: .5s;">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <img _ngcontent-serverapp-c88="" loading="lazy" alt="HelperNơi hỗ trợ" width="60px" hight="60px" class="img-fluid members my-2 mx-auto" src="https://cdn.helperplace.com/web-asset/images/helper-support.png">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;padding: 10px 0;font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));margin-top: -4px;margin-bottom: 0;color: #054a84;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nhanh chóng an toàn</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="">
                            </p><p>
                                <b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Không có người trung gian</font>
                                    </font>
                                </b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> và nhiều sự lựa chọn hơn. </font>
                                    <font style="vertical-align: inherit;">
                                        Nền tảng minh bạch, đáng tin cậy, thuận lợi
                                        và có đạo đức.
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        Tự mình kiểm soát tất cả quá trình tuyển
                                        dụng.
                                    </font>
                                </font>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="background: #fff;border-radius: 10px;box-shadow: 0 0 20px rgba(0,0,0,.14);border: 1px solid #fff;transition: .5s;">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <img _ngcontent-serverapp-c88="" loading="lazy" alt="Tính năng HelperPlace" width="60px" hight="60px" class="img-fluid members my-2 mx-auto" src="https://cdn.helperplace.com/web-asset/images/helper-display.png">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;padding: 10px 0;font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));margin-top: -4px;margin-bottom: 0;line-height: normal;color: #054a84;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> Nhà tuyển dụng</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="">
                            </p><p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Ứng viên có sẵn. </font>
                                    <font style="vertical-align: inherit;">Tìm kiếm, so sánh, </font>
                                </font><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            nhắn tin trực tiếp hoặc sử dụng bộ phân
                                            tích phù hợp của chúng tôi.
                                        </font>
                                    </font>
                                </b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Phỏng vấn và tuyển dụng không căng thẳng.
                                    </font>
                                </font>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="background: #fff;border-radius: 10px;box-shadow: 0 0 20px rgba(0,0,0,.14);border: 1px solid #fff;transition: .5s;">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <img _ngcontent-serverapp-c88="" loading="lazy" alt="công việc trợ giúp" width="60px" hight="60px" class="img-fluid members my-2 mx-auto" src="https://cdn.helperplace.com/web-asset/images/helper-job.png">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));margin-top: -4px;margin-bottom: 0;color: #054a84;padding: 10px 0;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Người tìm việc</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="">
                            </p><p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Nhận khả năng hiển thị để tìm một nhà tuyển
                                        dụng mới và có được một công việc tốt hơn.
                                    </font>
                                </font><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Hồ sơ dễ dàng và miễn phí 100%</font>
                                    </font>
                                </b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> (không phí xếp lớp, không trừ lương)</font>
                                </font>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section _ngcontent-serverapp-c88="" class="about-helperplace app2" style="
    padding: 50px 0;
">
    <div _ngcontent-serverapp-c88="" class="animated-bg-1">
        <i _ngcontent-serverapp-c88=""></i><i _ngcontent-serverapp-c88=""></i><i _ngcontent-serverapp-c88=""></i>
    </div>
    <div _ngcontent-serverapp-c88="" class="container">
        <div _ngcontent-serverapp-c88="" class="row res-about animation-view" style="
    z-index: 3;
    position: relative;
">
            <div _ngcontent-serverapp-c88="" class="col-xl-6 col-lg-6 col-md-6">
                <div _ngcontent-serverapp-c88="" class="about-content-inner" style="
    padding-top: 90px;
">
                    <div _ngcontent-serverapp-c88="">
                        <div _ngcontent-serverapp-c88="" class="title title2" style="
    text-align: center;
    margin-bottom: 50px;
">
                            <div _ngcontent-serverapp-c88="" class="sub-title" style="
    margin-bottom: 0;
">
                                <h2 _ngcontent-serverapp-c88="" class="section-header text-capitalize text-left ng-star-inserted" style="
    font-size: 33px;
    color: #434345;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 1.2;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Hơn 800.000 kết nối!
                                        </font>
                                    </font>
                                </h2><!----><!----><!---->
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-serverapp-c88="">
                        <div _ngcontent-serverapp-c88="" class="ad-sub-contain">
                            <p _ngcontent-serverapp-c88="" class="about-para ng-star-inserted" style="
    margin-bottom: -3px;
    color: #949494;
">
                                <span _ngcontent-serverapp-c88="">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Chúng tôi cung cấp một địa điểm miễn phí để người giúp việc nước ngoài có thể gặp bạn mà không cần qua trung gian.
                                        </font><font style="vertical-align: inherit;">Sau quá trình sàng lọc, bạn sẽ </font>
                                    </font><b>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                tuyển được những người giúp việc tốt nhất cho gia đình mình.
                                            </font>
                                        </font>
                                    </b>
                                </span>
                            </p><!----><!----><!---->
                        </div>
                    </div>
                    <div _ngcontent-serverapp-c88="" class="row pt-3">
                        <div _ngcontent-serverapp-c88="" class="col-sm-4 col-md-4 col-lg-4 hp-about-data" style="
    width: 33%;
">
                            <div _ngcontent-serverapp-c88="" class="about-data-content">
                                <div _ngcontent-serverapp-c88="" class="card" style="
    min-height: 119px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.14);
    border-radius: 10px;
">
                                    <div _ngcontent-serverapp-c88="" class="card-body text-center" style="
    padding: 1rem;
    transition: .5s;
    display: flex;
    flex-direction: column;
">
                                        <span _ngcontent-serverapp-c88="" class="card-title" style="
    font-weight: 600;
    font-size: 30px;
    color: #000;
    transition: .5s;
"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">260K</font></font></span><span _ngcontent-serverapp-c88="" class="card-subtitle mb-2 text-green" style="
    color: #25ae88;
    line-height: 1.2;
"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">người dùng</font></font></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="col-sm-4 col-md-4 col-lg-4 hp-about-data">
                            <div _ngcontent-serverapp-c88="" class="about-data-content">
                                <div _ngcontent-serverapp-c88="" class="card" style="
    min-height: 119px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.14);
    border-radius: 10px;
">
                                    <div _ngcontent-serverapp-c88="" class="card-body text-center">
                                        <span _ngcontent-serverapp-c88="" class="card-title" style="
    font-weight: 600;
    font-size: 30px;
    vertical-align: inherit;
    color: #000;
    transition: .5s;
"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">100% </font></font></span><span _ngcontent-serverapp-c88="" class="card-subtitle mb-2 text-yellow" style="
    color: #ebba16;
    line-height: 1.2;
">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    MIỄN PHÍ CHO NGƯỜI TÌM VIỆC
                                                </font>
                                            </font>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="col-sm-4 col-md-4 col-lg-4 hp-about-data">
                            <div _ngcontent-serverapp-c88="" class="about-data-content">
                                <div _ngcontent-serverapp-c88="" class="card" style="
    min-height: 119px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.14);
    border-radius: 10px;
">
                                    <div _ngcontent-serverapp-c88="" class="card-body text-center" style="
    padding: 1rem;
    transition: .5s;
    display: flex;
    flex-direction: column;
">
                                        <span _ngcontent-serverapp-c88="" class="card-title" style="
    font-weight: 600;
    font-size: 30px;
    color: #000;
    transition: .5s;">4.8/5</span>
                                        <span _ngcontent-serverapp-c88="" class="card-subtitle mb-2 text-green" style="
    color: #25ae88;
    line-height: 1.2;
"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SỰ HÀI LÒNG</font></font></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-serverapp-c88="" class="pb-3">
                        <p _ngcontent-serverapp-c88="" class="about-para mt-4 ng-star-inserted" style="
    margin-bottom: -3px;
    color: #949494;
    font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;
    letter-spacing: normal;
">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Truy cập ngay vào các công cụ tuyển dụng mạnh mẽ nhất hiện nay – đăng việc làm, tìm kiếm sơ yếu lý lịch, sàng lọc ứng viên và hợp lý hóa toàn bộ quy trình tuyển dụng của bạn.
                                </font>
                            </font>
                        </p><!----><!----><!---->
                    </div>
                    <div _ngcontent-serverapp-c88="" class="col-md-6 col-sm-12 p-0">
                        <div _ngcontent-serverapp-c88="" class="register-btn">
                            <a _ngcontent-serverapp-c88="" type="text" class="btn btn-primary btn-green" style="border: 2px solid #25ae88;background: #25ae88;color: #fff;margin-right: 20px;box-shadow: none;border-radius: 6px;max-width: 200px;width: 200px;font-weight: 600;cursor: pointer;text-transform: uppercase;letter-spacing: 1px;padding: 15px 40px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký</font></font></a>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-xl-6 col-lg-6 col-md-6">
                <div _ngcontent-serverapp-c88="" class="mobile-sc-right" style="display: flex;justify-content: flex-end;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" alt="HelperPlace tuyển dụng sự lựa chọn của người trợ giúp" class="img-fluid mobile1" src="https://cdn.helperplace.com/web-asset/img/ss2.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section _ngcontent-serverapp-c88="" class="direct-hire-wrapper team ng-star-inserted" style="
    background-color: #f1f1f1;
    padding: 50px 0;
">
    <div _ngcontent-serverapp-c88="" class="container">
        <div _ngcontent-serverapp-c88="" class="row w-100">
            <div _ngcontent-serverapp-c88="" class="col-lg-12 col-md-12 col-sm-12">
                <div _ngcontent-serverapp-c88="" class="title title2 powerful-feature-header" style="
    text-align: center;
">
                    <img _ngcontent-serverapp-c88="" loading="lazy" alt="HelperĐặt Logo" class="img-fluid title-img"
                         src="https://cdn.helperplace.com/web-asset/images/Just_logo.png" style="
    height: 50px;
    margin-bottom: 0;
">
                    <div _ngcontent-serverapp-c88="" class="title title2" style="
    text-align: center;
    margin-bottom: 50px;
">
                        <div _ngcontent-serverapp-c88="" class="sub-title">
                            <h2 _ngcontent-serverapp-c88="" class="section-header text-capitalize text-center" style="
    font-size: 33px;
    color: #434345;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 20px;
">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Thuê trực tiếp tại địa điểm của bạn</font>
                                </font>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.14);
    border: 1px solid #fff;
    transition: .5s;
">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;padding: 10px 0;color: #054a84;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Hồng Kông</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="" class="my-2">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Gần 400.000 người giúp việc gia đình nước
                                        ngoài đang làm việc tại Hồng Kông. Kỹ năng, khả năng sẵn có, hợp đồng đã hoàn
                                        thành;
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        nền tảng của chúng tôi giúp bạn dễ dàng thuê
                                    </font>
                                </font>
                            </p>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="d-flex justify-content-center">
                            <div _ngcontent-serverapp-c88="" width="100%" height="100px" class="feature-img">
                                <img _ngcontent-serverapp-c88="" loading="lazy"
                                     alt="Người Giúp Việc Gia Đình tại Hồng Kông" class="title-img mx-1 my-3"
                                     src="https://cdn.helperplace.com/web-asset/img/hk.jpg" style="
    height: 100px;
">
                            </div>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="text-center pt-3">
                            <a _ngcontent-serverapp-c88="" target="_blank" href="/find-candidate-hongkong" style="
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1920 - 300)));
    color: #434345;
">
                                <h3 _ngcontent-serverapp-c88="" class="custom-text dark my-2 custom-text-h3" style="
    cursor: pointer;
    color: #25ae88!important;
    font-size: 17px!important;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Tìm một người trợ giúp ở Hồng Kông</font>
                                    </font>
                                </h3>
                            </a><a _ngcontent-serverapp-c88="" target="_blank" href="/find-job-hongkong" style="
    cursor: pointer;
    font-size: 17px!important;
    color: #ebba16;
">
                                <h3 _ngcontent-serverapp-c88="" class="custom-text light my-2 custom-text-h3" style="
    cursor: pointer;
    font-size: 17px!important;
    color: #ebba16;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Công việc toàn thời gian có sẵn tại Hồng
                                            Kông
                                        </font>
                                    </font>
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1" style="
    /* background: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 20px rgba(0,0,0,.14); */
    /* border: 1px solid #fff; */
    /* transition: .5s; */
">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.14);
    border: 1px solid #fff;
    transition: .5s;
">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600; padding: 10px 0;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;color: #054a84;cursor: pointer;">
                                        Singapore
                                    </font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="" class="my-2">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Hơn 250.000 người giúp việc đang làm việc hợp
                                        pháp tại Singapore.
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        Bạn đang tìm kiếm một người giúp việc
                                        Philippines chuyển nhượng hoặc một người giúp việc Indonesia?
                                    </font>
                                </font>
                            </p>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="d-flex justify-content-center">
                            <div _ngcontent-serverapp-c88="" width="100%" height="100px" class="feature-img">
                                <img _ngcontent-serverapp-c88="" loading="lazy"
                                     alt="Người Giúp Việc Gia Đình tại Singapore" class="title-img mx-1 my-3"
                                     src="https://cdn.helperplace.com/web-asset/img/sg.jpg" style="
    height: 100px;
">
                            </div>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="text-center pt-3">
                            <a _ngcontent-serverapp-c88="" target="_blank" href="/find-candidate-singapore" style="
    /* cursor: pointer; */
">
                                <h3 _ngcontent-serverapp-c88="" class="custom-text dark my-2 custom-text-h3" style="
    cursor: pointer;
    font-size: 17px!important;
    color: #25ae88!important;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="/* vertical-align: inherit; *//* cursor: pointer; */font-size: 17 !important;">
                                            Thuê Người Giúp Việc Tại Singapore
                                        </font>
                                    </font>
                                </h3>
                            </a><a _ngcontent-serverapp-c88="" target="_blank" href="/find-job-singapore">
                                <h3 _ngcontent-serverapp-c88="" class="custom-text light my-2 custom-text-h3" style="
    cursor: pointer;
    font-size: 17px!important;
    color: #ebba16;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Công việc toàn thời gian có sẵn tại
                                            Singapore
                                        </font>
                                    </font>
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.14);
    border: 1px solid #fff;
    transition: .5s;
">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <h3 _ngcontent-serverapp-c88=""
                                style="font-weight: 600;cursor: pointer;padding: 10px 0;color: #054a84;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Thêm vị trí</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="" class="my-2">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Vài triệu người giúp việc gia đình đang ở
                                        Dubai, Ma Cao, Ả Rập Saudi hoặc ở Trung Đông.
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        Thuê trong nước hoặc nước ngoài, bạn có nhiều
                                        sự lựa chọn hơn
                                    </font>
                                </font>
                            </p>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="d-flex justify-content-center">
                            <div _ngcontent-serverapp-c88="" width="100%" height="100px" class="feature-img" style="
    /* height: 100px; */
    /* width: 40%; */
    /* overflow: hidden; */
">
                                <img _ngcontent-serverapp-c88="" loading="lazy" alt="Giúp Việc Gia Đình tại Ma Cao"
                                     class="title-img mx-1 my-3" src="https://cdn.helperplace.com/web-asset/img/me.jpg"
                                     style="
    height: 100px;
">
                            </div>
                        </div>
                        <div _ngcontent-serverapp-c88="" class="text-center pt-3 custom-text-h3">
                            <a _ngcontent-serverapp-c88="" target="_blank" href="/find-domestic-helper">
                                <h3 _ngcontent-serverapp-c88="" class="custom-text dark my-2" style="
    cursor: pointer;
    color: #25ae88!important;
    font-size: 17px!important;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Dễ dàng tuyển dụng một người giúp việc
                                        </font>
                                    </font>
                                </h3>
                            </a><a _ngcontent-serverapp-c88="" target="_blank" href="/find-job">
                                <h3 _ngcontent-serverapp-c88="" class="custom-text light my-2 custom-text-h3" style="
    cursor: pointer;
    font-size: 17px!important;
    color: #ebba16;
">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Công việc có sẵn ở nơi bạn muốn làm việc
                                        </font>
                                    </font>
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>